@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');

:root{

  --bg-blog-page: #fbfbfb;
  --clr-search: #F3F3F3;
  --clr-txt-light: #515151;
  --clr-white: #ffffff;


  --ff: 'Inter', sans-serif;
  --fw-light: 200;
  --fw-medium: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;


  font-family: var(--ff);
}





*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body *, body *::after, body *::before{
  display: block;
}


/* .navbar{
  background-color: red;
} */


.blogs-page{
  background-color: var(--bg-blog-page);
  height: 100%;
}

.blogs-page-search-bar{
  color: var(--clr-txt-light);
  background-color: var(--clr-search);
}



.navbar{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--clr-white);
}

.blogs-page{
  z-index: -999;
}

.blog-title{
  line-height: 1.8rem;
}

.blogs-page-search-bar:focus{
  border: 1px solid blue;
  border-color: blue;
}

